pr-preview/pr-5/sample.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/calculator"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="CalculatorService"
             targetNamespace="http://example.com/calculator">
    
    <!-- Documentation for the service -->
    <documentation>
        A simple calculator web service that performs basic arithmetic operations.
    </documentation>
    
    <!-- Type definitions -->
    <types>
        <xsd:schema targetNamespace="http://example.com/calculator">
            
            <!-- Simple types -->
            <xsd:simpleType name="OperationType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="add"/>
                    <xsd:enumeration value="subtract"/>
                    <xsd:enumeration value="multiply"/>
                    <xsd:enumeration value="divide"/>
                </xsd:restriction>
            </xsd:simpleType>
            
            <!-- Complex types -->
            <xsd:complexType name="CalculationRequest">
                <xsd:sequence>
                    <xsd:element name="operand1" type="xsd:decimal"/>
                    <xsd:element name="operand2" type="xsd:decimal"/>
                    <xsd:element name="operation" type="tns:OperationType"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="CalculationResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:decimal"/>
                    <xsd:element name="success" type="xsd:boolean"/>
                    <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="GetHistoryRequest">
                <xsd:sequence>
                    <xsd:element name="userId" type="xsd:string"/>
                    <xsd:element name="maxResults" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="HistoryEntry">
                <xsd:sequence>
                    <xsd:element name="timestamp" type="xsd:dateTime"/>
                    <xsd:element name="request" type="tns:CalculationRequest"/>
                    <xsd:element name="response" type="tns:CalculationResponse"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="GetHistoryResponse">
                <xsd:sequence>
                    <xsd:element name="entries" type="tns:HistoryEntry" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <!-- Elements -->
            <xsd:element name="Calculate" type="tns:CalculationRequest"/>
            <xsd:element name="CalculateResponse" type="tns:CalculationResponse"/>
            <xsd:element name="GetHistory" type="tns:GetHistoryRequest"/>
            <xsd:element name="GetHistoryResponse" type="tns:GetHistoryResponse"/>
            
        </xsd:schema>
    </types>
    
    <!-- Messages -->
    <message name="CalculateInput">
        <documentation>Input message for the Calculate operation</documentation>
        <part name="parameters" element="tns:Calculate"/>
    </message>
    
    <message name="CalculateOutput">
        <part name="parameters" element="tns:CalculateResponse"/>
    </message>
    
    <message name="GetHistoryInput">
        <part name="parameters" element="tns:GetHistory"/>
    </message>
    
    <message name="GetHistoryOutput">
        <part name="parameters" element="tns:GetHistoryResponse"/>
    </message>
    
    <!-- Port Type (Interface) -->
    <portType name="CalculatorPortType">
        <documentation>Calculator operations interface</documentation>
        
        <operation name="Calculate">
            <documentation>Performs a calculation on two operands</documentation>
            <input message="tns:CalculateInput"/>
            <output message="tns:CalculateOutput"/>
        </operation>
        
        <operation name="GetHistory">
            <documentation>Retrieves calculation history for a user</documentation>
            <input message="tns:GetHistoryInput"/>
            <output message="tns:GetHistoryOutput"/>
        </operation>
    </portType>
    
    <!-- Binding -->
    <binding name="CalculatorBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="Calculate">
            <soap:operation soapAction="http://example.com/calculator/Calculate"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        
        <operation name="GetHistory">
            <soap:operation soapAction="http://example.com/calculator/GetHistory"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    
    <!-- Service -->
    <service name="CalculatorService">
        <documentation>Calculator Web Service providing basic arithmetic operations</documentation>
        <port name="CalculatorPort" binding="tns:CalculatorBinding">
            <soap:address location="http://localhost:8080/calculator"/>
        </port>
    </service>
    
</definitions>
